<div class="background my-container">

  <div class="headline">
    <h1 @fadeIn> Welcome </h1>    
  </div>
  
  <div class="content">
    <h3 @fadeInDelayed>Here on the VTuber API, you will see a list of interesting VTubers that match your interests.</h3>
  </div>

  <div class="my-container marketing">
    <div class="row">

      <div class="card">
        <div class="row">

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-Foxii">
              <img class="rounded-circle" src="assets/images/Foxii.jpg" alt="Foxii" width="200" height="200">
              <h2>Foxii</h2>
              <p>Guten Tag ich bin Die Queen Foxii, ich erzähle euch mal kurz wie ich zur Königin wurde und weshalb ich eine Halbkitzune bin und kein ganzes. <br>
                Fangen wir an wo alles begann in einen kleines Dörfchen im Wald wo wir Füchse lebten. <br>
                Wir leben im Einklang mit der Natur, und hatten ein Friedvolles leben, als eines Tages Banditen ins unser Dorf kam und alles nieder brannte und jeden töte die sie finden konnte. Wir Flohen damals alle in den Wald, leider überlebte es keiner auch ich nicht. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div> 
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-Saitashi">
              <img class="rounded-circle" src="assets/images/Saitashi.jpg" alt="Saitashi" width="200" height="200">
              <h2>Saitashi</h2>
              <p>Ich bin Saitashi aka Stella, die Nebula Füchsin und auf der Heiligen Mission, alle Fuchssteine im Güldenen Handschuh zusammen zu fügen... Ach ne, warte, der Letzte Teil ist von wo anders...</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div> 
          </div>

        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img class="rounded-circle" src="assets/images/Matze.jpg" alt="Matze" width="200" height="200">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
      </div>

  </div><!-- /.row -->

</div>

<router-outlet></router-outlet>
