.headline{
  margin-top: 100px;
  color: white;
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
}

.headline h1 {
  font-size: 120px;
}

.content{
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  font-family: "Sedgwick Ave Display";
  text-align: center;
}

.content h3 {
  font-size: 48px;
  padding-bottom: 50px; 
}

img {
  border-radius: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  box-shadow: 0 0 40px rgb(0, 0, 0, 1);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.2);
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 1rem;
} 



/* ------------------------------------------------------------------------------------------------------------- */
/* Card Background Styles */

.card-Unheilig{
  background-image: url('/assets/images/Unholy_Army.jpg');
  
  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 1rem;
}

.card-Creators{
  background-image: url('/assets/images/Starlit_Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 1rem;
}


/* ------------------------------------------------------------------------------------------------------------- */
/* Card styles for individual VTubers */

/* Hoshizuki Card */
.card-Hoshizuki {
  position: relative;
  overflow: hidden;
  background-image: url('/assets/images/Hoshizuki_Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(145, 79, 153, 255);
  margin: 2rem;
} 
.card-Hoshizuki::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* Schwarzes Overlay mit 30% Deckkraft */
  z-index: 0;
}
.card-Hoshizuki > * {
  position: relative;
  z-index: 1;
}
.card-Hoshizuki h2 {
  margin-top: 25px;
  font-size: 52px;
  color: white;
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
}
.card-Hoshizuki p {
  font-size: 16px;
  color: white;
  font-family: "Eagle Lake", serif;
  text-align: center;
}


/* Astralynia Card */
.card-Astralynia {
  position: relative;
  overflow: hidden;

  background-image: url('/assets/images/Astralynia_Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(145, 79, 153, 255);
  margin: 2rem;
} 
.card-Astralynia::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.4); /* Weißes Overlay mit 40% Deckkraft */
  z-index: 0;
}
.card-Astralynia > * {
  position: relative;
  z-index: 1;
}
.card-Astralynia h2 {
  margin-top: 25px;
  font-size: 52px;
  color: black;
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
}
.card-Astralynia p {
  font-size: 16px;
  color: black;
  font-family: "Eagle Lake", serif;
  text-align: center;
}


/* KitePnP Card */
.card-KitePnP {
  position: relative;
  overflow: hidden;
  background-image: url('/assets/images/KitePnP_Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(145, 79, 153, 255);
  margin: 2rem;
} 
.card-KitePnP::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* Schwarzes Overlay mit 40% Deckkraft */
  z-index: 0;
}
.card-KitePnP > * {
  position: relative;
  z-index: 1;
}
.card-KitePnP h2 {
  margin-top: 25px;
  font-size: 52px;
  color: white;
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
}
.card-KitePnP p {
  font-size: 16px;
  color: white;
  font-family: "Eagle Lake", serif;
  text-align: center;
}


/* RaeliaLaubwind Card */
.card-RaeliaLaubwind {
  position: relative;
  overflow: hidden;
  background-image: url('/assets/images/RaeliaLaubwind_Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(145, 79, 153, 255);
  margin: 2rem;
} 
.card-RaeliaLaubwind::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* Schwarzes Overlay mit 40% Deckkraft */
  z-index: 0;
}
.card-RaeliaLaubwind > * {
  position: relative;
  z-index: 1;
}
.card-RaeliaLaubwind h2 {
  margin-top: 25px;
  font-size: 52px;
  color: white;
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
}
.card-RaeliaLaubwind p {
  font-size: 16px;
  color: white;
  font-family: "Eagle Lake", serif;
  text-align: center;
}



/*Foxii Card*/
.card-Foxii {
  position: relative;
  overflow: hidden;
  background-image: url('/assets/images/Foxii_Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 2rem;
}
.card-Foxii::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.4); /* Weißes Overlay mit 40% Deckkraft */
  z-index: 0;
}
.card-Foxii > * {
  position: relative;
  z-index: 1;
}
.card-Foxii h2{
  margin-top: 25px;
  font-size: 52px;
  color: black;
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
}
.card-Foxii p{
  font-size: 16px;
  color: black;
  font-family: "Eagle Lake", serif;
  text-align: center;
}


/*Saitashi Card*/
.card-Saitashi {
  background:white;
  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 2rem;
}
.card-Saitashi h2{
  margin-top: 25px;
  font-size: 52px;
  color: black;
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
}
.card-Saitashi p{
  font-size: 16px;
  color: black;
  font-family: "Eagle Lake", serif;
  text-align: center;
}



/*Starlit Card*/
.card-Starlit {
  background: rgba(205,224,188,255);
  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 2rem;
}
.card-Starlit h2{
  margin-top: 25px;
  font-size: 52px;
  color: black;
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
}
.card-Starlit p{
  font-size: 16px;
  color: black;
  font-family: "Eagle Lake", serif;
  text-align: center;
}



/*Matze Card*/
.card-Matze {
  /*background: linear-gradient(to right top, rgba(202, 54, 68, 255), rgb(35, 30, 34));*/
  background: linear-gradient(to right top, rgba(202, 54, 68, 255), rgb(0, 0, 0));
  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 2rem;
}
.card-Matze h2{
  margin-top: 25px;
  font-size: 52px;
  color: white;
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
}
.card-Matze p{
  font-size: 16px;
  color: white;
  font-family: "Eagle Lake", serif;
  text-align: center;
}