<div class="background my-container">

  <div class="headline">
    <h1 @fadeIn> Welcome </h1>    
  </div>
  
  <div class="content">
    <h3 @fadeInDelayed>Here on the VTuber API, you will see a list of interesting VTubers that match your interests.</h3>
  </div>

  <div class="my-container marketing">
    <div class="row">

      <!-- Un-(Heilig) Allianz -->
      <div class="card-Unheilig">
        <div class="row">

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-Hoshizuki">
              <img class="rounded-circle" src="assets/images/Hoshizuki.jpg" alt="Hoshizuki" width="200" height="200">
              <h2>Hoshizuki</h2>
              <p>Hallöchen, werte Gäste. Mein Name ist Hoshizuki, aber ihr dürft mich gerne Hoshi nennen. <br>
                Ich rede sehr gerne mit meinen Gästen, gebe ihnen Hilfestellung und einen göttlichen Segen. Denn das Licht der Sterne kann jedem von uns den Weg durch die Dunkelheit aufzeigen.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div> 
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-Astralynia">
              <img class="rounded-circle" src="assets/images/Astralynia.jpg" alt="Saitashi" width="200" height="200">
              <h2>Astralynia</h2>
              <p>Erwacht in einem Kokon, auf einer zauberhaften Lichtung welche vom Mondschein erhellt wurde, erblickt das kleine Omen Tia das Licht, oder eher die Dunkelheit der Welt.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div> 
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-KitePnP">
              <img class="rounded-circle" src="assets/images/KitePnP.jpg" alt="KitePnP" width="200" height="200">
              <h2>KitePnP</h2>
              <p>Hey ihr gütigen Menschen! Ich bin KitePnP! Eine Transsexuelle Streamerin. Bei uns gibt es Sammelkarten, Shooter, Rollenspiele, RTS, Moba´s, Tabletop und vieles mehr! Nur Salz werdet ihr vergebens bei mir suchen ;) Vielleicht aber bei meinen gefährten?</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div> 
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-RaeliaLaubwind">
              <img class="rounded-circle" src="assets/images/RaeliaLaubwind.jpg" alt="RaeliaLaubwind" width="200" height="200">
              <h2>RaeliaLaubwind</h2>
              <p>Vor einigen Hundert Jahren war ich ein junger Mann, der die Welt bereiste und seinen Charme in vollen Zügen genoss. Doch eines Nachts, in den frühen Stunden nach einer Begegnung mit einer atemberaubenden Frau, änderte sich mein Leben für immer. Diese Frau war ein Succubus. Als ich am Morgen erwachte, zierte eine seltsame Tätowierung meinen Schambereich, und als ich in den Spiegel blickte, erkannte ich, dass dies nicht die einzige Veränderung war.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div> 
          </div>

        </div>
      </div>

      <!-- Fuchs Königreich-->
      <div class="card">
        <div class="row">

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-Foxii">
              <img class="rounded-circle" src="assets/images/Foxii.jpg" alt="Foxii" width="200" height="200">
              <h2>Foxii</h2>
              <p>Guten Tag ich bin Die Queen Foxii, ich erzähle euch mal kurz wie ich zur Königin wurde und weshalb ich eine Halbkitzune bin und kein ganzes. <br>
                Fangen wir an wo alles begann in einen kleines Dörfchen im Wald wo wir Füchse lebten. <br>
                Wir leben im Einklang mit der Natur, und hatten ein Friedvolles leben, als eines Tages Banditen ins unser Dorf kam und alles nieder brannte und jeden töte die sie finden konnte. Wir Flohen damals alle in den Wald, leider überlebte es keiner auch ich nicht. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div> 
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-Saitashi">
              <img class="rounded-circle" src="assets/images/Saitashi.jpg" alt="Saitashi" width="200" height="200">
              <h2>Saitashi</h2>
              <p>Ich bin Saitashi aka Stella, die Nebula Füchsin und auf der Heiligen Mission, alle Fuchssteine im Güldenen Handschuh zusammen zu fügen... Ach ne, warte, der Letzte Teil ist von wo anders...</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div> 
          </div>

        </div>
      </div>

      <!-- Starlit and Me -->
      <div class="card-Creators">
        <div class="row">

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-Starlit">
              <img class="rounded-circle" src="assets/images/Starlit.png" alt="Starlit" width="200" height="200">
              <h2>Starlit</h2>
              <p>✨ Hey ich bin Starlit – ihr dürft aber auch Cutie sagen~ 💖 <br>
                💻 Ich bin Programmiererin 💻 <br>
                🌸 Meine Pronomen sind sie/ihr und mein Avatar ist ein 🐶 Doggo mit einer Menschenform <br>
                🐾 Ich liebe Furrys und alles, was damit zu tun hat 💕 <br>
                🎮 Ich spiele viele verschiedenste Games und bei mir ist so ziemlich alles zu finden <br>
                🧸 Ich bin eine ruhige Person, die alles, was süß ist liebt und ein riesiges Herz besitzt 🍬</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>        
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-Matze">
              <img class="rounded-circle" src="assets/images/Matze.jpg" alt="Matze" width="200" height="200">
              <h2>MatzeKEKS</h2>
              <p>Ohayoooo I´m only the Developer of this >.< .</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
          </div>

        </div>
      </div>

  </div><!-- /.row -->

</div>

<router-outlet></router-outlet>